@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply dark:bg-mianColorDarkBox dark:text-white bg-white/70 rounded-xl p-4 shadow-mainShadow dark:shadow-lg border dark:border-red-900 border-mianColor;
  }
}

@import url("../assets/fonts/ERPyb/ERPyb.css");

:root {
  --mainColor: #739072;
  --rs-border-primary: #739072;
  --rs-input-focus-border: #739072;
  --mianColorDark: #bc1717;
  --mianColorDarkBox: rgb(80, 0, 0);
  --mianColorLight: #1ca003;
}

@media (prefers-color-scheme: dark) {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--mianColorDarkBox);
    border-radius: 1rem;
    overflow: hidden;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--mianColorDark);
    border-radius: 1rem;
    overflow: hidden;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@media (prefers-color-scheme: light) {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1rem;
    overflow: hidden;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--mainColor);
    border-radius: 1rem;
    overflow: hidden;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.root,
#root,
#docs-root {
  --mianColor: #739072;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  direction: rtl !important;
  scroll-behavior: smooth;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  transition: 0.25s;
}

a {
  color: inherit !important;
}

a:hover {
  color: inherit !important;
}

.rmdp-input {
  border: 1px solid var(--mainColor) !important;
  height: 35.6px !important;
}

/* /////////////////////////////////////////////////// */

/* DARKMODE START */
body.dark .rs-input,
body.dark .rs-picker-select,
body.dark .rs-input-group,
body.dark .rs-picker,
body.dark .rs-picker-default .rs-picker-toggle {
  border-color: var(--mianColorDarkBox) !important;
}

body.dark {
  background-image: linear-gradient(
    0deg,
    rgb(50, 0, 0) 0%,
    rgb(35, 0, 0) 15%,
    rgb(22, 0, 0) 50%,
    rgb(35, 0, 0) 85%,
    rgb(80, 0, 0) 100%
  );
}

body.dark .main-logo {
  filter: drop-shadow(0 6px 8px black) !important;
}

/* DARKMODE END */

/* /////////////////////////////////////////////////// */

/* LIGHTMODE START */
body.light .rs-input,
body.light .rs-picker-select,
body.light .rs-input-group,
body.light .rs-picker,
body.light .rs-picker-default .rs-picker-toggle {
  border-color: var(--mainColor) !important;
}

body.light {
  background-color: #ecffe3;
  background-image: url("../assets/img/pattern4.png");
  background-size: 20rem;
}

body.light .main-logo {
  filter: brightness(0) saturate(100%) invert(23%) sepia(76%) saturate(5835%) hue-rotate(147deg)
    brightness(92%) contrast(84%);
}

/* Track */
.light-scroll::-webkit-scrollbar-track {
  background: var(--mainColor);
  border-radius: 1rem;
  overflow: hidden;
}

/* Handle */
.light-scroll::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 1rem;
  overflow: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* light scrollbar */

/* LIGHTMODE END */

/* /////////////////////////////////////////////////// */

/* ARROW START */

body.light .arrow {
  filter: brightness(0) saturate(100%) invert(23%) sepia(76%) saturate(5835%) hue-rotate(147deg)
    brightness(92%) contrast(84%);
}

body.dark .arrow {
  filter: unset !important;
}
/* ARROW END */

.bubble {
  background: radial-gradient(circle, rgb(123 0 0) 0%, rgba(148, 187, 233, 0) 70%);
  width: 40rem;
  height: 40rem;
  top: -15rem;
  right: 50%;
  transform: translateX(50%);
}

body.dark audio::-webkit-media-controls-panel {
  background-color: #797979;
}
body.dark audio::-webkit-media-controls-panel * {
  color: var(--mianColorDarkBox) !important;
}

body.dark audio::-webkit-media-controls-play-button {
  background-color: var(--mianColorDarkBox);
  border-radius: 50%;
  color: var(--mianColorDarkBox);
}

body.dark audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(177, 212, 224, 0.7);
}
